/* ---------- website constants ---------- */
page {
    background-color: #FAF9F5;
    
}

:root{
    --main-padding: 5px;
}

p, li {
        font-family: 'Courier New', Courier, monospace;
        font-size: 24px;
    }

h1, h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* main grid container */
.container {
    display: grid;
    height: 90vh;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 0.2fr 1fr 0.1fr 0.9fr 0.1fr 1fr;
    margin: 30px auto 30px auto;
    max-width: 2000px;

    /* margins */
    margin: auto;

    grid-template-areas:
    "nav nav nav nav nav nav nav nav nav nav nav nav"
    "main main main main main main main main main main main main"
    "skillHead skillHead skillHead skillHead skillHead skillHead skillHead skillHead skillHead skillHead skillHead skillHead"
    "content1 content1 content1 content1 content2 content2 content2 content2 content3 content3 content3 content3"
    "note note note note note note note note note note note note"
    "content4 content4 content4 content4 content4 content4 content4 content4 content4 content4 content4 content4"

}

nav {
    grid-area: nav;
    padding: var(--main-padding);

     /* grid */
     display: grid;
     height: auto;
     grid-template-columns: repeat( 12, 1fr);
     grid-template-rows: 1fr;
}

#logo {
        grid-column-start: 1;
        align-self: end;
        width: 8rem;
    }

#link {
    text-align: center;
    align-self: end;
    padding: 0 0.5rem 0 0.5rem;
}

main {
    grid-area: main;
    padding: var(--main-padding);
}

#skillHead {
    grid-area: skillHead;
    align-self: end;
    margin: 0;
}

#content1 {
    grid-area: content1;
    padding: var(--main-padding);
}

#content2 {
    grid-area: content2;
    padding: var(--main-padding);
}

#content3 {
    grid-area: content3;
    padding: var(--main-padding);
}

#note {
    grid-area: note;
    padding: var(--main-padding);
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
}
#content4 {
    grid-area: content4;
    padding: var(--main-padding);
}

@media only screen and (max-width: 870px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        margin: auto 30px auto 30px ;
        grid-template-areas:
        "nav"
        "main"
        "skillHead"
        "content1"
        "content2"
        "content3"
        "note"
        "content4"
    }
}

/**********************************************/
/* -------------- link design --------------- */
/**********************************************/
a:link, a:visited {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    color: black;
    text-decoration: none;
}

a:hover, a:active {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    color: black;
    text-decoration: underline 1px black;
}


