/* ---------- website constants ---------- */
page {
    background-color: #FAF9F5;
    
}

p {
        font-family: 'Courier New', Courier, monospace;
        font-size: 16px;
    }

/* main grid container */
.wrapper {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(12, 100px);
    overflow: scroll;

    /* margins */
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 2vw;
    margin-right: 2vw;
}

/* link design */
a:link, a:visited {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

a:hover, a:active {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: black;
    text-decoration: underline 1px black;
}

.basicLogo {
    height: 130px;
    width: auto;

    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 2;
}

.about {
    grid-column-start: 10;
    grid-row-start: 1;
    text-align: center;
    align-self: end;
    padding-bottom: 30px;
    padding-right: 10px;
}

.blog {
    grid-column-start: 11;
    grid-row-start: 1;
    text-align: center;
    align-self: end;
    padding-bottom: 30px;
    padding-left: 10px;
}

.content1 {
    grid-column-start: 3;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 3;
}
