/***********************************************/
/* ------------ website constants ------------ */
/***********************************************/
page {
    background-color: #FAF9F5;
}

:root{
    --main-padding: 5px;
}

/**********************************************/
/* ---------------- main grid --------------- */
/**********************************************/
.container {
    display: grid;
    height: 90vh /* --- 200vh --- */;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 0.1fr 0.8fr 0.1fr/*--- 30px 0.1fr 0.2fr 0.2fr 0.2fr 0.2fr --- */;
    margin: 30px auto 30px auto;
    max-width: 2000px;
    grid-template-areas:
        "nav nav nav nav nav nav nav nav nav nav nav nav"
        "main main main main main main content1 content1 content1 content1 content1 content1"
        "main main main main main main content1 content1 content1 content1 content1 content1"
        "main main main main main main content1 content1 content1 content1 content1 content1"
        "bottomNav bottomNav bottomNav bottomNav bottomNav bottomNav content1 content1 content1 content1 content1 content1"
        /* ----------------------------------------------
        "none none none none none none none none none none none none"
        "content2 content2 content2 content2 content2 content2 content2 content2 content2 content2 content2 content2"
        "content3 content3 content3 content4 content4 content4 content4 content4 content4 content4 content4 content4"
        "content3 content3 content3 content4 content4 content4 content4 content4 content4 content4 content4 content4"
        "content3 content3 content3 content4 content4 content4 content4 content4 content4 content4 content4 content4"
        "footer footer footer footer footer footer footer footer footer footer footer footer"
        ---------------------------------------------- */
}

/**********************************************/
/* ------------- content blocks ------------- */
/**********************************************/
nav {
    grid-area: nav;
    padding: var(--main-padding);

    /* grid */
    display: grid;
    height: auto;
    grid-template-columns: repeat( 12, 1fr);
    grid-template-rows: 1fr;
}

    /* ------------ nav components -------------- */
    #logo {
        grid-column-start: 1;
        align-self: end;
        width: 8rem;
    }

    #link {
        text-align: center;
        align-self: end;
        padding: 0 0.5rem 0 0.5rem;
    }

#content1 {
    grid-area: content1;  
    padding: var(--main-padding);
    display: flex;
}

#myPhoto {
    height: 90%;
    width: auto;
    margin: auto;
}

#bottomNav {
    grid-area: bottomNav;
    padding: var(--main-padding);
}

main {
    grid-area: main;
    padding: var(--main-padding);

    /* grid */
    display: grid;
    height: auto;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 1fr);
}
  /* ------------ main components ------------ */
    main h1 {
        grid-column-start: 3;
        grid-column-end: 8;
        grid-row-start: 2;

        /* typography */
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 55px;

        /* positioning */
        align-content: end;
    }

    main #text1 {
        grid-column-start: 3;
        grid-column-end: 8;
        grid-row-start: 2;
        grid-row-end: 5;

    /* typography */
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    
    /* positioning */
    margin-top: 6rem;
    align-content: end;
}

/* ----------------------------------------------
#content2 {
    background: #a7ffeb;
    grid-area: content2;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: var(--main-padding);
}

#content3 {
    background: #18ffff; 
    grid-area: content3;
    border-right: 1px solid black;
    padding: var(--main-padding);
}

#content4 {
    background: #84ffff;
    grid-area: content4;
    padding: var(--main-padding);
}

footer {
    background: #1de9b6;
    grid-area: footer;
    border-top: 1px solid black;
    padding: var(--main-padding);
}

---------------------------------------------- */

/**********************************************/
/* ------------ responsive sizing ------------*/
/**********************************************/
@media only screen and (max-width: 870px){
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 0.6fr 3fr 0.1fr 0.3fr 2fr 6fr 0.6fr;
        grid-template-areas:
        "nav"
        "main"
        "content1"
        "bottomNav"
        "content2"
        "content3"
        "content4"
        "footer"
    }
    main {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        padding: 0 10% 0 10%;
    }
}

@media only screen and (max-width: 360px){
    main h1{
        font-size: 26px;
    }
}

/**********************************************/
/* -------------- link design --------------- */
/**********************************************/
a:link, a:visited {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    color: black;
    text-decoration: none;
}

a:hover, a:active {
    font-family: Courier New', Courier, monospace;
    font-size: 24px;
    color: black;
    text-decoration: underline 1px black;
}
